@use './partials/mixins' as *;
@use './partials/variables' as *;

body {
    background-color: rgb(47,49,54);
}

main {
    padding-top: 150px;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

}